
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial 1</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Deep Learning Breast Cancer Diagnosis</h1>

  {% if pre_click == false %}

  <img class='text-center' src="{{ url_for('display_image', filename=filename) }}" alt="User Image" width="150" height="150">

  {% endif %}

  {%for each in data %}
  
  <h3> {{ each }}</h3>
  
  {% endfor %}

  {% if pre_click == false %}

  <button><a href="{{ url_for('home') }}">Make Another Diagnosis </a> </button>

  {% endif %}

     <!-- Main Input For Receiving Query to our ML -->
      </br>
      {% if pre_click %}
      <form method="post" action="/" enctype="multipart/form-data">
        <input type="text" name="doctor_name" placeholder="Doctor's Name" required="required" />
        <input type="text" name="patient_name" placeholder="Patient's Name" required="required" />
        <input type="text" name="patient_age" placeholder="Patient's Age" required="required" />
        <dl>
      <p>
        <input type="file" name="file" autocomplete="off" required>
      </p>
        </dl>
        <p>
      <input type="submit" value="Submit">
        </p>
    </form>
    {% endif %}
      </br>
   <br>
   <br>
 </div>
</body>
</html>